@media screen and (max-width: 688px) {
    main {
        display: flex;
        flex-direction: column;
    }
    .section-1 {
        width: 100%;
    }
    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .header-title h3 {
        margin-left: 20px;
    }
    .left-area {
        width: 90%;
        margin: 0 30px 0 20px;
    }
    .right-area {
        width: 90%;
        height: 90%;
        background-image: none;
        margin: 200px 0 0 30px;
    }
    .right-area img {
        width: 80%;
        height: 80%;
    }
    .products {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 0;

    }
    .section-2 .product {
        margin-bottom: 30px;
    }
    .see-more a .fas{
        margin-right: 20px;
    }
    form {
        padding: 10px;
    }
    form input {
        width: 100%;
        margin: 20px 0;
        padding: 5px 2px;
        font-size: 17px;
    }
    form .button {
        width: 140px;
        height: 40px;
    }
}


/* Foe Tablet devices */

@media screen and (min-width: 688px) and (max-width: 992px) {
    .products {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 0;
    }
    main {
        display: flex;
        flex-direction: column;
    }
    .section-1 {
        width: 100%;
    }
    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .header-title h3 {
        margin-left: 20px;
    }
    .left-area {
        width: 90%;
        margin: 0 20px;
    }
    .right-area {
        width: 100%;
        height: 100%;
        margin: 100px 0 100px 120px;
       
    }
}