
/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Common style or utilitis */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-1 {
    width: 1200px;
}
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.header-title h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 100px 0 50px 0;
    color: #3A3A3A;
}
.left-area {
    width: 582px;
    height: 270px;
    margin-top: 80px;
}

.left-area h1 {
    font-size: 52px;
    font-weight: 700;
    color: #3A3A3A;
    margin-bottom: 0;
}
.left-area p {
    font-size: 16px;
    font-weight: 600;
    color: #3A3A3A;
}
.button {
    width: 196px;
    height: 44px;
    background-color: #E02C6D;
    border-radius: 50px;
    border: 0;
    margin-top: 15px;
    transition: .5s;
}
.button a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}
.button .fas {
    font-size: 16px;
    margin-left: 8px;
}
.button:hover {
    background-color: rgb(54, 54, 206);
}
.right-area {
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    width: 475px;
    height: 475px;
    margin-left: 160px;
}
.right-area img {
    width: 440px;
    height: 414px;
    margin-top: 30px;
    transition: 0.5s;
}
.right-area img:hover {
    opacity: 0.7;
}


.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 100px;
}
.section-2 .product {
    width: 329px;
    height: 476px;
    margin: 15px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 15px 20px 5px rgba(211, 200, 200, 0.808);
    border-radius: 5px;
}
.section-2 .product:hover {
    box-shadow: 5px 15px 20px 5px rgba(153, 141, 141, 0.808);
}
.product-img img {
    width: 300px;
    height: 256px;
}
.product-details {
    padding: 0 15px;
    margin-right: 100px;
}
.product-details .product-name {
    font-weight: 500;
    font-size: 28px;
    color: #18191F;
    margin: 10px 0;
}
.product-price {
    font-size: 24px;
}
.product-rating .fas {
    font-size: 12px;
    color: #FFC014;
}
.product-rating span {
    font-size: 14px;
    font-weight: 700;
    color: #5E6366;
    margin-left: 10px;
}
.product p {
    width: 200px;
    color: #787885;
    font-weight: 700;
    font-size: 14px;
    margin-top: 5px;
}
.see-more a {
    float: right;
    text-decoration: none;
    color: #E02C6D;
    font-weight: 700;
    font-size: 16px;
    margin-top: 20px;
}
.see-more a .fas {
    margin: 0 8px;
}
.see-more a:hover {
    color: rgb(54, 54, 206)
}


.section-3 {
    width: 50%;
}
form {
    background: rgba(9, 72, 105, 0.76);
    border-radius: 20px;
    color: #fff;
    padding: 50px;
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form h2 {
    font-size: 40px;
    float: left;
}
form input {
    display: block;
    width: 80%;
    border: 0;
    border-radius: 5px;
    margin: 30px 0;
    padding: 10px 20px;
    font-size: 20px;
}





footer {
    background-color: #0a0826;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .details {
    width: 262px;
    height: 139px;
    color: #fff;
    margin: 20px 0 50px 0;
}
.details h3 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 5px;
}
.copy-info {
    color: #D9DBE1;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
}
.icons {
    margin-left: 25px;
}
.icons a {
    text-decoration: none;
    color: #fff;
}
.icons .fab {
    margin-left: 15px;
    font-size: 30px;
    margin-top: 10px;
}
.icons a:hover {
    color: rgb(192, 172, 172);
}






